/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* CSS Reset */	

.header {
	width: 100%;
	height: 122px;
	background: #f2f2f2;
	border-bottom: 1px solid #e4e4e4;
}

.header_left {
	position: absolute;
	top: 18px;
	left: 13px;
	width: 712px;
}

.header_left input {
	width: 559px;
	height: 44px;
	position: absolute;
	top: 0;
	right: 0;
	font: 16px arial,sans-serif;
	color: #000;
	background: transparent url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D") repeat scroll 0% 0%;
	border: medium none;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	padding-left: 16px;
	background-color: #fff;
}

.google_logo {
	 background: url(https://www.google.ca/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png) no-repeat;
	 background-size: 120px 44px;
	 width: 120px;
	 height: 44px;
}

.header_right {
	position: absolute;
	right: 30px;
	top: 26px;
	width: 116px;
}

.google_apps {
	background: url(https://cdn2.iconfinder.com/data/icons/basicui/512/categories_grid_layout_menu_squares_tiles-256.png) no-repeat;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	margin: 5px 0 0 5px;
}

.google_apps:hover {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ1oS9L6WO5xEUEaBbcOhW6xU83SGO3NeY_DkvUrXpuC3mQ2mq) no-repeat;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	margin: 5px 0 0 5px;
}

.sign_in {
	text-decoration: none;
	background-color: #4285f4;
	color: #fff;
	border: 1px solid #4285f4;
	font-weight: bold;
	line-height: 28px;
	border-radius: 2px;
	font-size: 13px;
	font-family: arial,sans-serif;
	width: 45px;
	padding: 0 12px;
	position: absolute;
	right: 0;
	top: 0;
}

.header_bottomleft {
	position: absolute;
	top: 78px;
	left: 133px;
	width: 546px;
	height: 30px;
}

.header_bottomleft li {
	display: inline;
}

.header_bottomleft a {
	text-decoration: none;
	color: #666;
	font-family: arial,sans-serif;
	line-height: 40px;
	font-size: small;
	padding: 28px 16px 12px 16px;
}

.header_bottomright {
	position: absolute;
	top: 78px;
	left: 590px;
	width: 148px;
	height: 30px;
}

.header_bottomright li {
	display: inline;
}

.header_bottomright a {
	text-decoration: none;
	color: #666;
	font-family: arial,sans-serif;
	line-height: 40px;
	font-size: small;
	padding: 28px 16px 12px 16px;
}

.header_bottomleft a:hover {
	color: #000;
	border-bottom: 3px solid #4285f4;
}

.header_bottomright a:hover {
	color: #000;
}

.results_stats {
	width: 100%;
	position: absolute;
	top: 123px;
	font-size: small;
	color: #808080;
	font-family: arial,sans-serif;
	margin-left: 160px;
	margin-top: 10px;
}

.results {
	width: 100%;
	position: absolute;
	top: 166px;
	padding-bottom: 84px;
}

.result {
	margin-left: 160px;
	margin-bottom: 26px;
	width: 592px;
	font-family: arial,sans-serif;
	line-height: 1.2;
}

.title a {
	text-decoration: none;
	color: #1a0dab;
	font-size: 18px;
}

.title a:hover {
	text-decoration: underline;
}

.url {
	color: #006621;
	font-size: 14px;
}

.description {
	font-size: small;
	color: #545454;
}

.footer {
	width: 100%;
	height: 84px;
	position: absolute;
	bottom: 0;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	margin-top: -84px;
}

.footer a {
	text-decoration: none;
	color: #666;
	font-family: arial,sans-serif;
	line-height: 40px;
	font-size: small;
	padding: 28px 16px 12px 16px;
}

.footer li {
	display: inline;
}

.footer_links {
	width: 100%;
	margin: 40px 144px 0 144px;
}

.footer a:hover {
	color: #000;
}

.related_search {
	margin-left: 160px;
	margin-bottom: 26px;
	width: 592px;
	height: 113px;
	font-family: arial,sans-serif;
}

.related_search .left li {
	list-style-type: none;
}

.related_search .right li {
	list-style-type: none;
}

.related_search .left {
	width: 75px;
	margin-right: 32px;
}

.related_search .right {
	position: relative;
	left: 107px;
	bottom: 75px;
}

.related_search a {
	color: #1a0dab;
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	font-weight: bold;
}

.related_search a:hover {
	text-decoration: underline;
}

.related_search .searches_related_to {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}